<h1>Employee Dashboard</h1>

<p>Logged in as {{user}}</p>
{{#if isAdmin}}
<form action="/manager" method="GET">
    <button type="submit" class="btn btn-outline-primary" id="ManagerDashboard">Manager Dashboard</button>
</form>
{{/if}}



<footer>
    <a href="/logout">Logout</a>
</footer>