<h1>This is the Home Page for the application</h1>

<p>My email is {{user}}</p>

<form action="/employee" method="GET">
    <button type="submit" id="EmployeeDashboard">Employee Dashboard</button>
</form>


<footer>
    <a href="/logout">Logout</a>
</footer>