<h2>This is the Home Page for the application</h2>

<p>My email is {{user}}</p>
{{#if isAdmin}}
    <form action="/employee" method="GET">
    <button type="submit" id="EmployeeDashboard">Employee Dashboard</button>
</form>
{{/if}}



<footer>
    <a href="/logout">Logout</a>
</footer>