<h1>Login Page</h1>
<form id = "login-form" action="/login" method="post">
    <label for="email">Email : </label>
    <input required type="text" id = "email" name="email" value="{{email}}" placeholder="email">
    <label for="password">Password : </label>
    <input type="password" required id = "password" name="password" value="{{password}}" placeholder="password">
    <button type="submit" id="checkLogin" >Login</button>
</form>
{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}
<a href="/businesses/signup">Need to register for new business? Click here to sign-up</a>