<h1>Signup Page</h1>
<form id = "signup-form" action="/signup" method="POST">
    <div class="emailDiv">
    <label for="email">Email : </label>
    <input required type="text" id = "email" name="email" value="{{email}}" placeholder="email">
    </div>
    <div class="passwordDiv">
    <label for="password">Password : </label>
    <input required type="password" id = "password" name="password" value="{{password}}" placeholder="password">
    </div>
    <button type="submit" id="checkSignup" style="margin-left: 91px;">Signup</button>
</form>
{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}
<a href="/">Already have an account? Click here to log-in</a>