<h1>Business Login page</h1>

<form action="/businesses/login" method="POST">
<label for="email">Business Email : </label>
<input required type="text" id = "email" name="email" value="{{email}}" placeholder="business email">
<label for="password">Password : </label>
<input required type="password" id = "password" name="password" value="{{password}}" placeholder="password">
<button type="submit" id="checkLogin">Login</button>
</form>

<a href="/businesses/signup">Create a new business account? Click here to signup</a>
<br>
<a href="/login">Login as employee? Click here to log-in</a>


{{!-- error --}}
{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}